body {
  background-color: wheat;
} 

.game {
  padding-top: 10rem;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 430px;
}

.card {
  display: inline-block;
  width: 100PX;
  height: 100PX;
  background-color: gray;
}

.show.blue, .done.blue{
  background-color: blue;
}

.show.green, .done.green{
  background-color: green;
}

.show.red, .done.red{
  background-color: red;
}

.show.orange, .done.orange{
  background-color: orange;
}

.show.pink, .done.pink{
  background-color: pink;
}

.show.yellow, .done.yellow{
  background-color: yellow;
}

.show.brown, .done.brown{
  background-color: brown;
}

.show.teal, .done.teal{
  background-color: teal;
}