body {
    background-color: rgb(228, 199, 255);
}

.start{
    text-align: center;
    margin-top: 3rem;
}

.explanation-memory {
    display: flex;
}

.logo img {
 width: 6rem;
margin-left: 50rem;
margin-top: 1rem;
}

.explanation {
    padding-left: 5rem;
}

.img-memory {
    text-align: center;
    margin-top: 3rem;
}

.needed {
 margin-top: 3rem;
padding-left: 3rem;
}

.needed li {
    
    margin: 1rem;
    padding-left: 0rem;
}

.step {
    padding-left: 5rem;
    margin-top: 5rem;
}

.step ol {
    counter-reset: item 
}

.step-img-one img  {
    width: 50rem;
    text-align: center;
    margin-top: 1rem;
    padding-left: 2rem;
}

.step li {
    margin-top: 2rem;
}


.step-two {
    padding-left: 5rem;
    margin-top: 5rem;
}